# Node
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
/dist
/build

# Vite
client/dist/

# Misc
*.local

# VS Code
.vscode/

# Server
server/feedback.json
client/node_modules/
server/node_modules/
